@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --nav-height: 70px;
}

body {
  background-image: url('./images/paperWallpaper.jpg');
}

.mainheader {
  display: flex;
  background-color: pink;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  height: var(--nav-height);
  padding: 0px 30px;
}

.nav-links {
  float: right;
  margin: 0;
  padding: 0;
  top: 20px;
  transition: opacity .35s ease .75s;
}

.nav-links li {
  display: inline-block;
  margin-left: 40px;
}

.sidebar {
  position: absolute;
  top: 35%;
  color: orange;
  background-color: darkslategrey;
  position: sticky;
  width: 5%;
  float: right;
}

.alignNavItems {
  text-align: center;
}

.sidebar li {
  width: 50px;
  height: 50px;
}

.mainEdges {
  margin: 0px 100px;
}

.sectionEdges {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 90vh;
  background-color: darkgray;
}

.title {
  font-size: 50px;
}

.sectionTitle {
  font-size: 25px;
}

.footerStyle {
  padding: 4% 0%;
  background-color: mediumseagreen;
}

.footerContent {
  justify-content: center;
  text-align: center;
}

.pEdges {
  margin-right: 35%;
}